body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.contact-class {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content {
    flex: 1 1 60%;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.image {
    width: 40%;
    height: 50%;
    padding: 20px;
}
.triple-image {
    height: 400px;
    overflow: hidden;
    width: 40%;
}
.triple-image img {
    width: 100%;
    height: 99% ;
}

.image img {
    width: 100%;
    height: auto;
}

.margin-10-in-perc {
    margin: 10%;
}

.owl-carousel .item {
    position: relative;
}

.owl-carousel .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF3366;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.bg-slider-overlay-button {
    border-color: #fff ;
    color: #FF3366;
    background: #fff;
}
.bg-slider-overlay-button:hover {
    border-color: crimson ;
    color: #fff;
    background: crimson;
}

.owl-carousel .item:hover .overlay {
    opacity: 1;
}
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    display: flex;
    width: 100%;
}
.carousel-image {
    width: 100%; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    object-fit: cover; /* Ensure images cover the specified height and width */
}

.carousel-item {
    display: flex;
    width: 100%;
}

.carousel-item img {
    flex: 1;
    width: 100%;
    height: auto;
}

.carousel-indicators {
    bottom: -30px;
}

@media (min-width: 992px) {
    .content {
        text-align: left;
        padding: 40px;
    }
    .triple-content {
        height: 100%;
        padding: 0;
    }
}

/* Additional styles for the dots */
.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    display: none; /* Hide default dots */
}

.dot-1, .dot-2, .dot-3 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #f8f9fa;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.dot-1::before, .dot-2::before, .dot-3::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot-1.active, .dot-2.active, .dot-3.active {
    background: #f8f9fa;
    border: 1px solid #FF3366;
    
}

.dot-1.active::before, .dot-2.active::before, .dot-3.active::before {
    background: #FF3366;
}

.image-switcher {
    height: 33%;
    cursor: pointer;
    padding: 10px;
    /* margin: 10px 0; */
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    text-align: center;
}
.height-in-px-100 {
    height: 400px;
}

.image-switcher:hover {
    background-color: #e9ecef;
}



.image-switcher.active {
    background-color: #FF3366;
    color: white;
}

.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    border: none;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.what-we-do-section-2 {
    width: 80%;
    display: flex;
}
.what-we-do-section-1 {
    margin-bottom: 20px;
}
.what-we-do-section-2-1 {
    width: 40%;
}
.service-head {
    font-size: 1.75rem;
    font-weight: 700;
}
.text-align-center {
    text-align: center;
}
.icon-div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 20px;
}
.icon {
    font-size: 48px;
    color: #e34c26; /* HTML5 color */
}
.modal-content {
    padding: 20px;
}
.form-group.inline {
    display: flex;
    justify-content: space-between;
}
.form-group.inline input {
    flex: 1;
    margin-right: 10px;
}
.color-primary {
    color: #FF3366;
}
.bg-primary {
    background-color: #FF3366 !important;
    border-color: #FF3366 !important;
}
.content button:hover button:focus {
    background-color: #FF3366 !important;
    border-color: #FF3366 !important;
}
.form-control {
    box-shadow: none !important;
    height: auto;
    padding: 0 !important;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0 !important;
}
label {
    margin: 0;
}
.custom-control-input {
    box-shadow: none !important; 
    width: 16px;
    height: 16px;
}
.custom-checkbox {
    padding-left: 0.7rem;
}
.custom-control-label {
    color: #bac4cd;
    margin-left: 15px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {

    box-shadow: none !important;    
    border-color: #FF3366;
    background-color: #FF3366;
}
.custom-checkbox .custom-control-label::before {
    box-shadow: none !important;
    border-color: #FF3366;
}
input::placeholder {
    color: #bac4cd !important;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bac4cd;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #bac4cd;
}
.mt-in-perc-5 {
    margin-top: 5%;
}
.mt-in-perc-3 {
    margin-top: 3%;
}
.heading {
    font-weight: 600;
    font-size: 0.9rem;
    color: #FF3366;
}
.triple-head {
    font-size: 1rem;
    font-weight: 600;
}
.heart-icon {
    font-size: 24px;
    color: #FF3366;
}
